.DS_Store
.idea/
android/node_modules/
linux/node_modules/
android/*.log
android/db.json
android/public/
android/.deploy*/
linux/*.log
linux/db.json
linux/public/
linux/.deploy*/
oowow/node_modules/
oowow/*.log
oowow/db.json
oowow/public/
oowow/.deploy*/
oowow/package-lock.json
android/package-lock.json
linux/package-lock.json
*.patch
*.swp
