#sidebar
  width: sidebar-width
  float: left
  position: sticky
  top: header-height
  height: 75vh
  overflow-y:auto
  padding-bottom: 20px
  padding-top: 20px
  opacity: 0.8
  margin-left: sidebar-width * -1
  display: none
  @media mq-normal
    display: block

.sidebar-title
  margin-top: 20px
  padding-top: 0px
  font-family: font-title
  font-weight: bold
  display: block
  border-top: 0px solid color-border
  line-height: 1

summary
  display: block
  cursor: pointer
  background:none
  outline:none

summary::-webkit-details-marker
  display: none

summary::before
  content: '\25BA'
  padding-right: 0.5em

details[open] > summary::before
  content: '\25BC'

.sidebar-link
  font-family: font-title
  display: block
  color: color-default
  text-decoration: none
  padding-top: 12px
  padding-bottom: 1px;
  margin-left: 20px
  line-height: 1
  position: relative
  width: 100%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  &.first
    padding-top: 18px
  &.secondary-first
    padding-top: 14px
  &.current
    color: color-link
  &:hover
    color: color-link-hover
